
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding: 1.5rem 3rem;
  font-family: "Inter", sans-serif;
}
header{
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 2rem;
}
 
header div{
  display: flex;
  gap:1rem;
  
}
.navcomponent{
  gap: .05rem;
  justify-content: center;
  align-items: center;
}
.navcomponent-active{
  color: red;
  gap: .05rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, .2);
  padding: .5rem;
  border-radius: 5px;
}
.navcomponent-link {
 text-decoration: none;
 
 font-weight:500 ;
 color: black;
}
.navcomponent-link-active{
  color: red;
}
header button{
  padding: .5rem;
  background-color: red;
  color: white;
  border-radius: 2px;
  border: none;
  
}